<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

   <!-- <bean id="speaker" class="org.comstudy.myweb.tv.SonySpeaker"></bean> -->

   <!-- 생성자를 이용한 의존성 주입, 셋터를 이용한 의존성 주입 -->
   <!-- <bean id="tv2" class="org.comstudy.myweb.tv.SamsungTV">
      <constructor-arg ref="speaker"></constructor-arg>
   </bean> -->
   
   <context:component-scan base-package="org.comstudy.myweb"></context:component-scan>
</beans>